[Unit]
Description=Ztd Blunders
Requires=mongod.service
After=nginx.service
Wants=

[Service]
User=blunders
WorkingDirectory=/home/blunders/ztd.blunders-web/

PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/run/blunders
ExecStartPre=/usr/bin/chown -R blunders:blunders /var/run/blunders

ExecStart=/bin/uwsgi /home/blunders/uwsgi.ini
ExecStop=/bin/kill -SIGINT $MAINPID

[Install]
WantedBy=multi-user.target
