.details-block {
    border-radius: 2px;
    border: 1px solid #dedede;
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0px;

    margin-bottom: 30px;
}

.caption-block {
    font-weight: bold;
    padding: 7px;
    border-bottom: 1px solid #dedede;

    background-color: #f5f5f5;
}

.cell-block {
    border: 1px solid #dedede;

    padding: 10px;

    text-align: center;
}

.wide-block-wrapper, .paginator-block-wrapper {
    border: 1px solid #dedede;

    padding: 10px 30px;
}

.paginator-block-wrapper {
    text-align: center;
}

.paginator {
    display: inline-block;
}

.cell-value {
    font-size: 145%;
    font-weight: bold;
    color: #333;
}

.cell-label {
    font-size: 80%;
    color: #555;
}

.cell-additional {
    font-size: 80%;
    color: #555;
}

.visible, .hidden {
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.visible {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
    display: inline-grid;
}

.hidden {
    opacity: 0; 
    visibility:hidden;
    display: none;
}
