section, #main-table {
    left: -300px;
    width: 1200px;
}

#username-value {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 150%;

    font-family: Arial;
}

#user-table {
    width: 100%;
}

#user-table > tr > td {
    width: 50%;
    text-align: center;
}

#summary {
    padding: 30px;
    width: 500px;

    vertical-align: top;
}

#avatar {
}

#details {
    padding: 30px;
    width: 100%;
    vertical-align: top;
}

#user-join-date, #user-last-activity-date {
    margin-top: 5px;

    padding-top: 15px;

    text-align: center;

    font-size: 70%;
    color: #555;
}


#user-links {
    margin-top: 15px;
    text-align: center;
}

#user-rating-table {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

#user-rating-table {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#user-values {
    font-size: 145%;
    font-weight: bold;
    color: #1fa67a;
}

#user-labels {
    font-size: 70%;
    color: #555;
}

#user-friends-link {
    margin-top: 7px;
}

#rating-chart {
    width: 100%;
    height: 200px;
}

#blunder-history-content {
    padding: 20px;
}

#blunder-history-content > table {
    margin-left:auto; 
    margin-right:auto;
}

#blunder-history-content > table > tr > td {
    text-align: center;
}

.blunder-history-board-win {
    margin: 20px;
    -webkit-box-shadow: 0px 0px 20px 10px #1fa67a;
    -moz-box-shadow: 0px 0px 20px 10px #1fa67a;
    box-shadow: 0px 0px 20px 10px #1fa67a;
}

.blunder-history-board-fail {
    margin: 20px;
    -webkit-box-shadow: 0px 0px 20px 10px rgb(217, 83, 79);
    -moz-box-shadow: 0px 0px 20px 10px rgb(217, 83, 79);
    box-shadow: 0px 0px 20px 10px rgb(217, 83, 79);
}

#blunder-favorites-content > table {
    margin-left:auto; 
    margin-right:auto;
}

#blunder-favorites-content > table > tr > td {
    text-align: center;
}

.blunder-favorites-board {
    margin: 20px;
}

.blunder-comment {
    margin-bottom: 20px;
    margin-left: 15px;
    text-align: left;
}

.comments-board {
    margin-top: 20px;
    margin-bottom: 20px;
}