
#users-online-list {
    text-align : center;
}

#users-online-list > a {
    font-size: 80%;
}

#users-top-by-rating  > table, #users-top-by-activity > table {
    size: 100%;
    margin-left: auto;
    margin-right: auto;

}

.table-center-cell{
    text-align:center;
}
