{% extends "layout.html" %}

{% block section %}
	We are small team working on our spare time.

	The idea behind this project is following.
	We are interested in quality of games, which take place between a professional chess players.
	To do this, we downloaded more than six million official games available in public domain.
	For each of these games, we scanned all the moves on the existence of such,
	which does not agree with the modern chess engines. We used the strongest to date Open Source engine Stockfish.
	When engine dissagre with game variation, for more, than 2 pawns, we register this move as tactical blunder.
	To make it more interesting, we throw away those blunders, where player can get compensation with several
	different ways. Instead, he have only one after blunder move that is slightly better that other. You are welcome to find this
	move and continue forced variation to get maximum advantage from stuation.

	This project is designed to be free and always will be, because this is what we
	believe in. All source code is available on Bitbucket and you can use it the way you want. We provide API to get access
	to our database for research and fun, but we also provide raw data we used for this service.
	Just contact us to get information how to get it.

	The service you see is running on hardware far from being the most powerful configuration, this is due to financial reasons.
	We use Flask as server side web framework and MongoDB to store collections of blunders and games.
	For user logins, comments and some more, PostgreSQL database is used.

	We have a lot of ideas to where we can extend this service, but without any support those ideas will be left unimplemented.
	If you like our work, you can Donate us. If you want to participate in our project, please contact us.

	jackalsh@gmail.com
	failuref...
{% endblock %}
