{% extends "layout.html" %}

{% block section %}
    <h1>Download</h1>
    <h3>Source code</h3>
    <p>The project is completelly Open Source. You can find our source code <a href="https://bitbucket.org/account/user/ziltoidteam/projects/ZTDBLUN">here</a>
       and help us to improve it if you wish. </p>
    <h3>Blunders database</h3>
    <p>Our service supported by big database of games and puzzles we generated for several years of research.
       This database is constantly improved by authomatic bots so currently there is no final version of it. </p>
    <p> We have plans to publish database at some point, but currently it is not ready yet.</p>
    <p> Please <a href='/helpus'>Help us</a> to improve our service.</p>
    <p> You are also welcome to try our <a href='/api'>API</a> to explore our service. </p>
{% endblock %}
