{% extends "layout.html" %}

{% block section %}
    <h1>Download</h1>
    <p>Our goal is to publish this database when it will be ready.
    We just started to work on blunders database and it is far from finished. Currently we have 1700000+ blunders and this number will grow.
    Just be patient and wait for a while.</p>
    <p>If you need this database now, you can use our <a href='/api'>API</a> in your applications.
    Please <a href='/helpus'>Help us</a> to improve our service.</p>

{% endblock %}