<!DOCTYPE html>

<html lang='en-US'>
	<head>
		<meta charset='utf-8'/>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/layout.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
	    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
	    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
	    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
	    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
	    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
	    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
	    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
	    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
	    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
	    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
	    <link rel="manifest" href="/static/favicon/manifest.json">
	    <meta name="msapplication-TileColor" content="#0f6bb4">
	    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
	    <meta name="theme-color" content="#0f6bb4">

		{% block style %}{% endblock %}
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="/"><i class="fa fa-exclamation-circle"></i> Blunders</a>
					<ul>
						<li><a href="/training"><i class="fa fa-puzzle-piece fa-flip-horizontal"></i> Training</a></li>
						<li><a href="/explore"><i class="fa fa-search"></i> Explore</a></li>
						<li><a href="/download"><i class="fa fa-download"></i> Download</a></li>
						<li><a href="/statistic"><i class="fa fa-line-chart"></i> Statistic</a></li>
						<li><a href="/api"><i class="fa fa-code"></i> API</a></li>
					</ul>
				</li>
			</ul>

			{% if session.isAuthorized() %}
				<ul id='user-bar'>
					<li><a href="/profile?user={{session.username()}}"><i class="fa fa-user"></i> {{session.username()}}</a> <span id='rating'></span>
						<ul>
							<li><a href="/profile?user={{session.username()}}"><i class="fa fa-file-text"></i> Profile</a></li>
							<li><a href="/statistic?user={{session.username()}}"><i class="fa fa-line-chart"></i> Statistic</a></li>
							<li><a id="logout-button"><span id="logout-icon"><i class="fa fa-sign-out"></i></span> Log Out</a></li>
						</ul>
					</li>
				</ul>
			{% else %}
				<ul id='user-bar'>
					<li><a href="/login"><i class="fa fa-sign-in"></i> Log In</a></li>
					<li><a href="/signup"><i class="fa fa-user-plus"></i> Sign Up</a></li>
				</ul>
			{% endif %}

		</nav>

		<section>{% block section %}{% endblock %}</section>

		<footer>
			<ul>
				<li><a href="/termsOfUse">Terms of Use</a></li>
				<li><a href="/helpus">Help us</a></li>
				<li><a href="https://bitbucket.org/ziltoidteam">Ztd on Bitbucket</a></li>
			</ul>
		</footer>

		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="/static/third-party/notifyjs/dist/notify.min.js"></script>
		<script src="/static/js/notify-wrapper.js"></script>
    	<script src="/static/js/utils.js"></script>
		<script src='/static/js/sync.js'></script>
		{% block script %}{% endblock %}
		<script src="/static/js/layout.js"></script>
	</body>
</html>
