<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#0f6bb4">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#0f6bb4">
</head>
<body>
    <div class="color-block">
        <img id="logo" src="/static/img/logo-110px.png">
        <div class="header">Explore chess with Chess Blunders</div>
        <div class="sub-header">User-Friendly. Open Source. Totaly Free.</div>
        <div id="buttons" class="content">
            {% if not session.isAuthorized() %}
                <a id="signup-button" href="/signup">Sign Up</a>
            {% endif %}
            <a id="playnow-button" href="/training">Play Now</a>
        </div>
    </div>
    <div class="white-block">
        <div class="header">World's Biggest Chess Database</div>
        <div class="sub-header">1,743,871 Problems</div>
        <i class="fa fa-database"></i><div class="content">
          We collected more than <span class="number">6</span> million games from professional tournaments. Our hardware working day and night for last <span class="number">2</span> years to analyze them. Our algorithms already choosed <span class="number">1.7 </span> million of educational posititions for you to solve. You are just few clicks away from infinite chess experience.
        </div>
    </div>
    <div class="white-block">
        <div class="header">Unique Content</div>
        <div class="sub-header">Never Seen Before</div>
         <i class="fa fa-eye-slash"></i><div class="content">
            The problems were generated using newly developed algorithms, ensuring you haven't seen them before. The lack of human intervention allowed us to collect a large number of surprising and awesome positions.
        </div>
    </div>
    <div class="white-block">
        <div class="header">Open and Free</div>
        <div class="sub-header">The Freedom to Explore</div>
         <i class="fa fa-code-fork"></i><div class="content">
            This project will always remain free and open, because this is what we believe in. All source code is available on <a href="https://bitbucket.org/account/user/ziltoidteam/projects/ZTDBLUN">Bitbucket</a> and you can use it any way you want. We provide an <a href="/api">API</a> to access our <a href="/download">database</a> for both research and fun, but we also provide the raw data we used for this service.
        </div>
    </div>
    <div class="white-block">
        <div class="header">Social</div>
        <div class="sub-header">Like. Discuss. Share</div>
         <i class="fa fa-comments"></i><div class="content">
            Our service promotes interactions between users. You can comment on positions you like, store favorites, and share your progress with the community.
        </div>
    </div>
    <div class="white-block">
        <div class="header">Powered by <a href="https://stockfishchess.org">Stockfish</a></div>
        <div class="sub-header">Strongest Open Source Engine</div>
         <i class="fa fa-cogs"></i><div class="content">
            Using modern technology we explore the thought process and failures made by great players.
            We use the best available technologies, therefore we choose the strongest open source chess engine as a judge.
        </div>
    </div>
    <div class="white-block">
        <div class="header">Mobile client</div>
        <div class="sub-header">Play everywhere</div>
         <i class="fa fa-mobile"></i><div class="content">
            Using our official mobile client you can play and improve your skills everywhere and everytime.
            <div id="android-button">
                <a href="https://play.google.com/store/apps/details?id=io.ztd.blunders.free">
                    <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="white-block">
        <div class="header">Privacy</div>
        <div class="sub-header">It Is Not Our Business</div>
         <i class="fa fa-user-secret"></i><div class="content">
            We put a lot of effort to keep your privacy at hight level. We don't save your password, we don't require your mail and we don't share your personal data with anybody. We also don't send you any proposals or ads.
        </div>
    </div>
    <div class="white-block">
        <div class="header">Technological</div>
        <div class="sub-header">19+ Third-Party Tools</div>
         <i class="fa fa-wrench"></i><div class="content">
            Technology is the key to making great software. This project written with fun and learning for you to learn and have fun.
            We use
            <a href="https://www.python.org/">Python</a>,
            <a href="http://flask.pocoo.org/">Flask</a>,
            <a href="http://redis.io/">Redis</a>,
            <a href="https://uwsgi-docs.readthedocs.io/en/latest/">uWSGI</a>,
            <a href="https://www.mongodb.org">MongoDB</a>,
            <a href="https://github.com/mongodb/mongo-python-driver">Pymongo</a>,
            <a href="https://chardet.github.io/">Chardet</a>,
            <a href="https://github.com/pychess/pychess">Pychess</a>,
            <a href="https://stockfishchess.org">Stockfish</a>,
            <a href="https://github.com/pyca/bcrypt">Bcrypt</a>,
            <a href="http://www.postgresql.org/">PostgreSQL</a>,
            <a href="https://github.com/psycopg/psycopg2">Psycopg2</a>,
            <a href="https://highlightjs.org/">Highlight.js</a>,
            <a href="http://www.jqplot.com/">jQPlot</a>,
            <a href="https://jquery.com/">jQuery</a>,
            <a href="notifyjs.com">Notify.js</a>,
            <a href="https://github.com/jhlywa/chess.js/">Chess.js</a>,
            <a href="http://chessboardjs.com/">Chessboard.js</a>,
            <a href="https://github.com/websanova/js-url">js-url</a>,
            <a href="http://flaviusmatis.github.io/simplePagination.js/">simplePagination</a>,
            <a href="http://fortawesome.github.io/">Font Awesome</a>
            and more. Mobile client written using
            <a href="http://ionicframework.com/">Ionic framework</a>,
            <a href="http://caustique.github.io/chessboard-js/">ChessboardJS</a>,
            <a href="http://lokijs.org/#/">LokiJS</a>,
            <a href="http://nvd3.org/">nvd3</a>
            and more.
        </div>
    </div>
    <div class="white-block">
        <div class="header">Authors</div>
        <div class="sub-header">Who are these people?</div>
        <i class="fa fa-users"></i>
        <div class="content">
            We are more interested in feedback than fame or copyright, so we'll just give you the e-mail to contact us:
            <ul>
                <li><a href="mailto:jackalsh@gmail.com">Evgeny Shtranvasser (JackalSh)</a></li>
                <li><a href="mailto:chezstov@gmail.com">Denis Gruzdev (Failuref)</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
