{% extends "layout.html" %}

{% block section %}
    <table id="main-table">
        <tr>
            <td id="summary">
                <div id="avatar"><img src="http://www.cbc.ca/smartestperson/content/image/avatar-placeholder.png"/></div>

                <div id="username">Failuref</div>
                <div id="user-join-date">
                    <i class="fa fa-clock-o"></i> Joined on <span id="user-join-value">Feb 24, 2015</span>
                </div>

                <table id="user-rating-table">
                    <tr id="user-values">
                        <td id="user-rating-value">1900</td>
                        <td id="user-karma-value">+300</td>
                    </tr>

                    <tr id="user-labels">
                        <td id="user-rating-label">Rating</td>
                        <td id="user-karma-label">Karma</td>
                    </tr>
                </table>

                <div id="user-links">
                    <div id="user-statistic-link"><a href="/statistic"><i class="fa fa-line-chart"></i> Statistic</a></div>
                </div>
                
            </td>

            <td id="details">
                <table class="details-block">
                    <tr class="caption-row">
                        <td class="caption-block" colspan="3">Blunders</td>    
                    </tr>
                    <tr class="info-row">
                        <td class="info-block-wrapper" colspan="3">
                            <div id="temp-block"></div>
                        </td>    
                    </tr>
                    <tr class="grid-row">
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>    
                    </tr>
                    <tr class="grid-row">
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>    
                    </tr>
                </table>
                <table class="details-block">
                    <tr class="caption-row">
                        <td class="caption-block" colspan="3">Blunders</td>    
                    </tr>
                    <tr class="info-row">
                        <td class="info-block-wrapper" colspan="3">
                            <div id="temp-block2"></div>
                        </td>    
                    </tr>
                    <tr class="grid-row">
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>    
                    </tr>
                    <tr class="grid-row">
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>    
                    </tr>
                </table>
                <table class="details-block">
                    <tr class="caption-row">
                        <td class="caption-block" colspan="3">Blunders</td>    
                    </tr>
                    <tr class="grid-row">
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>    
                    </tr>
                    <tr class="grid-row">
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>
                        <td class="grid-block">
                            <div class="grid-label">Total Played</div>
                            <div class="grid-value">16</div>
                            <div class="grid-additional">From last week</div>
                        </td>    
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="static/css/profile.css">
    <link rel="stylesheet" href="static/third-party/jqplot/jquery.jqplot.min.css">
{% endblock %}

{% block script %}
    <script src="static/third-party/jqplot/jquery.jqplot.min.js"></script>
    <script src="static/third-party/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="static/third-party/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script src="static/js/profile.js"></script>
{% endblock %}