{% extends "layout.html" %}

{% block section %}
    <table id="main-table">
        <tr>
            <td id="summary">
                <div id="avatar"><img src="static/img/default-avatar.png"/></div>

                <div id="username-value">{{username}}</div>
                <div id="user-join-date">
                    <i class="fa fa-clock-o"></i> Joined on <span id="user-join-value"></span>
                </div>
                <div id="user-last-activity-date">
                    <i class="fa fa-clock-o"></i> Last visit <span id="user-last-activity-value"></span>
                </div>

                <table id="user-rating-table">
                    <tr id="user-values">
                        <td id="user-rating-value"></td>
                        <td id="user-karma-value"></td>
                    </tr>

                    <tr id="user-labels">
                        <td id="user-rating-label">Rating</td>
                        <td id="user-karma-label">Karma</td>
                    </tr>
                </table>

                <div id="user-links">
                    <div id="user-statistic-link"><a href="/statistic?user={{username}}"><i class="fa fa-line-chart"></i> Statistic</a></div>
                </div>
                
            </td>

            <td id="details">
            </td>
        </tr>
    </table>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.css">
    <link rel="stylesheet" href="static/third-party/simplePagination/simplePagination.css">
    <link rel="stylesheet" href="static/third-party/chessboardjs/css/chessboard.css">
    <link rel="stylesheet" href="static/css/grid.css">
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.barRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.cursor.min.js"></script>
    <script src="static/third-party/simplePagination/jquery.simplePagination.js"></script>
    <script src="static/third-party/chessboardjs/js/chessboard.js"></script>
    
    <script src="static/third-party/js-url/url.min.js"></script>
    
    <script src="static/js/grid.js"></script>
    <script src="static/js/profile.js"></script>
{% endblock %}