{% extends "layout.html" %}

{% block section %}
    <form action="#" method="POST">
    Username:<br>
    <input type="text" id="username" name="username"><br>
    Password:<br>
    <input type="password" id="password" name="password"><br>
    Email:<br>
    <input type="text" id="email" name="email"><br>

    <input id="submit" type="button" value="Sign Up!">
    </form>
{% endblock %}

{% block script %}
    <script src="static/third-party/chessboardjs/js/jquery-1.10.1.min.js"></script>
    <script src='static/js/signup.js'></script>
{% endblock %}