{% extends "layout.html" %}

{% block section %}
    <form action="#" method="POST">
    Username<span class="red super">*</span>:<br>
    <input type="text" id="username" name="username"><br>
    Password<span class="red super">*</span>:<br>
    <input type="password" id="password" name="password"><br>
    Email:<br>
    <input type="text" id="email" name="email"><br>

    <input id="submit" type="button" value="Sign Up!">
    </form>
{% endblock %}

{% block script %}
    <script src='static/js/signup.js'></script>
{% endblock %}