{% extends "layout.html" %}

{% block section %}
	<div id="form">

		<div id="avatar-wrapper"><img id="avatar" src="/static/img/default-avatar.png"/></div>

	    <form action="#" method="POST">
		    <input type="text" placeholder="Pick a username" id="username" name="username">
		    <input type="text" placeholder="Enter your email (required)" id="email" name="email">
		    <input type="password" placeholder="Create a password" id="password" name="password">

			<a id="validate">email validation</a>
			<input type="text" placeholder="Code will be sent to email" id="validation_code" name="validation_code">

			<a id="submit">Sign Up!</a>
	    </form>
    </div>
{% endblock %}

{% block script %}
    <script src='/static/js/signup.js'></script>
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="/static/css/signup.css">
{% endblock %}
