{% extends "layout.html" %}

{% block section %}
    <div id="details"></div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="static/css/statistics_user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.css">
    <link rel="stylesheet" href="static/third-party/simplePagination/simplePagination.css">
    <link rel="stylesheet" href="static/css/grid.css">
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.barRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.cursor.min.js"></script>
    
    <script src="static/third-party/js-url/url.min.js"></script>
    <script src="static/third-party/simplePagination/jquery.simplePagination.js"></script>
    
    <script src="static/js/grid.js"></script>
    <script src="static/js/statistics_user.js"></script>
{% endblock %}
